:root {
  --bg-color: #fff1e6;
  --main-color: #457b9d;
  --secound-color: #a8dadc;
  --thrid-color: #f1faee;
  --text-color: #f7f7ff;
  --error-color: #fe5f55;
  --paper-text-color: #5f5d50;
  --paper-bg-color: #f0f0f0;
}
