html {
  scroll-behavior: smooth;
  font-size: 14px;
}

body {
  margin: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow: auto;
}

#app {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px
}

h1 {
  font-size: var(--text-xxl);
}

h2 {
  font-size: var(--text-xl)
}

h3 {
  font-size: var(--text-lg)
}

h4 {
  font-size: var(--text-md)
}

h5 {
  font-size: var(--text-sm)
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-width: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-width: 0;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #0003;
  border: none;
}
