
:root {
  --bg-color: #495867;
  --main-color: #3b3355;
  --secound-color: #5d5d81;
  --thrid-color: #bfcde0;
  --text-color: #f7f7ff;
  --error-color: #ba000d;
  --warn-color: #c08a3e;
  --paper-text-color: #9fadc0
}

body {
  margin: 0;
  color: var(--text-color)
}

h1 {
  font-size: 2rem;
}
